* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
header {
  background-color: #fd7400;
  border-bottom: 2px solid #f4f4f4;
}

.navbar-facturacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
}

.nav-leftside figure img {
  width: 150px;
}

.nav-rightside {
  justify-content: end;
  display: flex;
}
.nav-rightside .nav-item-container {
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav-rightside .nav-item-container li {
  list-style: none;
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  width: 35px;
}

main {
  display: flex;
}
aside {
  background-color: #fd7400;
  width: 15%;
  height: 85vh;
}
section {
  width: 100%;
  padding: 20px;
}
.main-title h1 {
  /* font-size: 3rem; */
  color: #2c302e;
  font-size: 48px;
  font-family: "Signika", sans-serif;
  padding-bottom: 10px;
}
footer {
  background-color: #fd7400;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
}
